<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main>
    <header class="centered">
      <h1>Welcome to SuperDuperStore!</h1>
      <p>We currently have <strong><%= productCount %></strong> offers.</p>
      <p>Here is one of the most popular ones - <a href="/products">see them all</a>!</p>
    </header>
    <% if (product) { %>
    <div class="grid">
      <article class="card product-item">
        <header class="card__header">
          <h1 class="product__title"><%= product.title %></h1>
        </header>
        <div class="card__image">
          <img src="<%= product.imageURL %>" alt="<%= product.title %>">
        </div>
        <div class="card__content">
          <h2 class="product__price">$<%= product.price %></h2>
          <p class="product__description"><%= product.description %></p>
        </div>
        <div class="card__actions">
          <a href="/products/<%= product._id %>" class="btn">Details</a>
          <% if (isAuthenticated) { %>
          <%- include('../includes/add-to-cart.ejs', { product }) %>
        </div>
      </article>
      <% } %>
    </div>
    <% } else { %>
    <h1>No products here yet...</h1>
    <p>You can <a href="/login">log in</a> or <a href="/signup">sign up</a> and sell something!</p>
    <% } %>
  </main>
  <%- include('../includes/end.ejs') %>
